{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.9.3"
      },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "comments": false,
  "compact": false
}
